name: CI
on:
 workflow_call:        # habilita que lo llamen otros repos
   inputs:
     run_tests:
       type: boolean
       required: false
       default: true
   secrets:
     MS_NAME:
       required: false
jobs:
 build-test:
   runs-on: ubuntu-latest
   permissions:
     contents: read
   steps:
     - name: Checkout
       uses: actions/checkout@v4
     - name: Validate Gradle Wrapper
       uses: gradle/wrapper-validation-action@v3
     - name: Set up Java
       uses: actions/setup-java@v4
       with:
         distribution: temurin
         java-version: '17'
         cache: gradle
     - name: Setup Gradle
       uses: gradle/actions/setup-gradle@v3
     - name: Access Repository Secrets Variable
       run: echo "Repository Variable Value = ${{ secrets.MS_NAME }}"
     - name: Prepare gradlew
       run: |
         sed -i 's/\r$//' gradlew
         chmod +x gradlew
         ls -l gradlew
         head -n1 gradlew
     - name: Build & Test
       if: ${{ inputs.run_tests }}
       run: bash ./gradlew clean build --no-daemon
     - name: Upload test reports
       if: always()
       uses: actions/upload-artifact@v4
       with:
         name: test-reports
         path: |
           **/build/test-results/test/*
           **/build/reports/tests/test/*
         if-no-files-found: ignore
     - name: Upload app artifact
       if: success()
       uses: actions/upload-artifact@v4
       with:
         name: app-jars
         path: |
           **/build/libs/*.jar